In [102]:
import requests
import pandas as pd
import numpy as np
import datetime
import os
import zipfile

In [85]:
pip install --upgrade pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (2.0.0)
Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-macosx_10_9_x86_64.whl (11.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.8/11.8 MB 4.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.0
    Uninstalling pandas-2.0.0:
      Successfully uninstalled pandas-2.0.0
Successfully installed pandas-2.0.2
--- Logging error ---
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/logging.py", line 177, in emit
    self.console.print(renderable, overflow="ignore", crop=False, style=style)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/console.py", line 1673, in print
    extend(render(renderable, render_options))
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/console.py", line 1305, in render
    for render_output in iter_render:
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/logging.py", line 134, in __rich_console__
    for line in lines:
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/segment.py", line 249, in split_lines
    for segment in segments:
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/console.py", line 1283, in render
    renderable = rich_cast(renderable)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_vendor/rich/protocol.py", line 36, in rich_cast
    renderable = cast_method()
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/self_outdated_check.py", line 130, in __rich__
    pip_cmd = get_best_invocation_for_this_pip()
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/entrypoints.py", line 58, in get_best_invocation_for_this_pip
    if found_executable and os.path.samefile(
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/genericpath.py", line 101, in samefile
    s2 = os.stat(f2)
FileNotFoundError: [Errno 2] No such file or directory: '/Library/Frameworks/Python.framework/Versions/3.10/bin/pip'
Call stack:
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/__main__.py", line 31, in <module>
    sys.exit(_main())
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/cli/main.py", line 70, in main
    return command.main(cmd_args)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/cli/base_command.py", line 101, in main
    return self._main(args)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/cli/base_command.py", line 223, in _main
    self.handle_pip_version_check(options)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/cli/req_command.py", line 190, in handle_pip_version_check
    pip_self_version_check(session, options)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/self_outdated_check.py", line 236, in pip_self_version_check
    logger.warning("[present-rich] %s", upgrade_prompt)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/logging/__init__.py", line 1489, in warning
    self._log(WARNING, msg, args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/logging/__init__.py", line 1624, in _log
    self.handle(record)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/logging/__init__.py", line 1634, in handle
    self.callHandlers(record)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/logging/__init__.py", line 1696, in callHandlers
    hdlr.handle(record)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/logging/__init__.py", line 968, in handle
    self.emit(record)
  File "/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pip/_internal/utils/logging.py", line 179, in emit
    self.handleError(record)
Message: '[present-rich] %s'
Arguments: (UpgradePrompt(old='22.2.2', new='23.1.2'),)
Note: you may need to restart the kernel to use updated packages.

In [103]:
#List of countries and regions are here: https://unstats.un.org/unsd/methodology/m49/overview/ but website using
#javascript and not providing link for csv file directly
#Workaround:
#Using a github page to download a csv file
url = "https://github.com/lukes/ISO-3166-Countries-with-Regional-Codes/raw/master/all/all.csv"
filename = "countries.csv"

response = requests.get(url)

if response.status_code == 200:
    with open(filename, "wb") as file:
        file.write(response.content)
    print("CSV file downloaded successfully.")
else:
    print("Failed to download the CSV file.")

CSV file downloaded successfully.

In [104]:
#To find a file of your interest: https://data.worldbank.org/indicator
#Clicking on a subset allows to get address to download csv-file

#These are addresses to obtain the data for GDP per capita, life expectancy and literacy rate
url_list=["https://api.worldbank.org/v2/en/indicator/NY.GDP.PCAP.PP.CD?downloadformat=csv", \
          "https://api.worldbank.org/v2/en/indicator/SP.DYN.LE00.IN?downloadformat=csv",\
            "https://api.worldbank.org/v2/en/indicator/SE.ADT.LITR.ZS?downloadformat=csv"]

In [105]:
#Also, giving names for the data to be obtained
data_list=["gdp_per_capita", "life_expectancy", "literacy"]

In [106]:
#First, making folder to download the data from web, names based on data_list
for d in data_list:
    if not os.path.exists(d):
        os.makedirs(d)
    if not os.path.exists(d+"_unpacked"):
        os.makedirs(d+"_unpacked")

In [107]:
#Here one by one, I dowload the data and put into a right folder
for d, u in zip(data_list, url_list):
    response = requests.get(u)
    if response.status_code == 200:
        with open(d+"/"+d+".zip", "wb") as file:
            file.write(response.content)
        print("Zip file downloaded successfully!")
    else:
        print("Failed to retrieve the zip file.")

Zip file downloaded successfully!
Zip file downloaded successfully!
Zip file downloaded successfully!

In [108]:
#Unpacking the data as well
for d in data_list:
    zip_file_path=d+"/"+d+".zip"
    destination_folder=d+"_unpacked"
    with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
        zip_ref.extractall(destination_folder)
    print("Extraction completed!")

Extraction completed!
Extraction completed!
Extraction completed!

In [109]:
#To remove excess rows in the csv file, an additional method:
def copy_file(source_file, destination_file):
    with open(source_file, 'r') as source:
        with open(destination_file, 'w') as destination:
            counter=0
            for line in source:
                if(counter>3):
                    destination.write(line)
                counter=counter+1

In [9]:
#Removing extra rows from the csv file:

for d in data_list:
    file_list=os.listdir(d+"_unpacked")
    file_list.sort()
    source_file=d+"_unpacked/"+file_list[0]
    destination_file=d+".csv"
    copy_file(source_file, destination_file)

In [110]:
#Using pandas, going to create the dataframe list:
df_list=[]
for d in data_list:
    temp_df=pd.read_csv(d+".csv")
    df_list.append(temp_df)

In [111]:
#The last column is empty, must be removed
df_list[0].head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,36846.848285,37343.912963,37583.840323,38865.188195,41679.238190,42501.641554,34971.009913,42698.359872,NaN,NaN
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3470.550675,3498.125396,3591.099809,3635.564622,3724.868177,3777.972368,3621.058106,3839.470058,NaN,NaN
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2110.829568,2128.125938,2023.834656,2096.093111,2109.929296,2167.704111,2076.138380,1665.805842,NaN,NaN
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4143.177054,4075.994459,3998.951876,4045.303263,4160.540965,4264.731035,4174.504565,4409.450961,NaN,NaN
4,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8123.048065,7274.090475,7027.146634,7216.061373,7042.923829,6881.076241,6362.636076,6491.125578,NaN,NaN

In [112]:
#Running the deletion
for n in range(len(df_list)):
    df_list[n]=df_list[n][df_list[n].columns[:-1]]

In [118]:
#Checking
df_list[0].head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,36932.184164,36846.848285,37343.912963,37583.840323,38865.188195,41679.238190,42501.641554,34971.009913,42698.359872,NaN
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3333.520911,3470.550675,3498.125396,3591.099809,3635.564622,3724.868177,3777.972368,3621.058106,3839.470058,NaN
2,Afghanistan,AFG,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2062.059176,2110.829568,2128.125938,2023.834656,2096.093111,2109.929296,2167.704111,2076.138380,1665.805842,NaN
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3950.948889,4143.177054,4075.994459,3998.951876,4045.303263,4160.540965,4264.731035,4174.504565,4409.450961,NaN
4,Angola,AGO,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,7643.921944,8123.048065,7274.090475,7027.146634,7216.061373,7042.923829,6881.076241,6362.636076,6491.125578,NaN

In [114]:
print(df_list)

[                    Country Name Country Code
0                          Aruba          ABW  \
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                    Indicator Name     Indicator Code  1960
0    GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN  \
1    GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
2    GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
3    GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
4    GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
..                                             ...                ...   ...
261  GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
262  GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
263  GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
264  GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN
265  GDP per capita, PPP (current international $)  NY.GDP.PCAP.PP.CD   NaN

     1961  1962  1963  1964  1965  ...          2013          2014
0     NaN   NaN   NaN   NaN   NaN  ...  36932.184164  36846.848285  \
1     NaN   NaN   NaN   NaN   NaN  ...   3333.520911   3470.550675
2     NaN   NaN   NaN   NaN   NaN  ...   2062.059176   2110.829568
3     NaN   NaN   NaN   NaN   NaN  ...   3950.948889   4143.177054
4     NaN   NaN   NaN   NaN   NaN  ...   7643.921944   8123.048065
..    ...   ...   ...   ...   ...  ...           ...           ...
261   NaN   NaN   NaN   NaN   NaN  ...   8383.397311   8649.449499
262   NaN   NaN   NaN   NaN   NaN  ...   3437.429536           NaN
263   NaN   NaN   NaN   NaN   NaN  ...  13559.840574  13556.032816
264   NaN   NaN   NaN   NaN   NaN  ...   3506.394962   3463.420045
265   NaN   NaN   NaN   NaN   NaN  ...   2522.038124   2561.728799

             2015          2016          2017          2018          2019
0    37343.912963  37583.840323  38865.188195  41679.238190  42501.641554  \
1     3498.125396   3591.099809   3635.564622   3724.868177   3777.972368
2     2128.125938   2023.834656   2096.093111   2109.929296   2167.704111
3     4075.994459   3998.951876   4045.303263   4160.540965   4264.731035
4     7274.090475   7027.146634   7216.061373   7042.923829   6881.076241
..            ...           ...           ...           ...           ...
261   9357.135136  10007.689234  10436.168846  11012.109663  11796.153310
262           NaN           NaN           NaN           NaN           NaN
263  13581.755282  13696.163567  13950.453476  14324.545040  14436.832643
264   3352.524885   3322.578918   3395.479686   3507.795230   3514.688008
265   2615.090301   2724.452742   2331.780833   2456.948771   2296.390269

             2020          2021  2022
0    34971.009913  42698.359872   NaN
1     3621.058106   3839.470058   NaN
2     2076.138380   1665.805842   NaN
3     4174.504565   4409.450961   NaN
4     6362.636076   6491.125578   NaN
..            ...           ...   ...
261  11292.862651  13055.900775   NaN
262           NaN           NaN   NaN
263  13517.780586  14624.415171   NaN
264   3358.005322   3555.920229   NaN
265   2099.320459   2323.687257   NaN

[266 rows x 67 columns],                     Country Name Country Code
0                          Aruba          ABW  \
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                              Indicator Name  Indicator Code       1960
0    Life expectancy at birth, total (years)  SP.DYN.LE00.IN  64.152000  \
1    Life expectancy at birth, total (years)  SP.DYN.LE00.IN  44.085552
2    Life expectancy at birth, total (years)  SP.DYN.LE00.IN  32.535000
3    Life expectancy at birth, total (years)  SP.DYN.LE00.IN  37.845152
4    Life expectancy at birth, total (years)  SP.DYN.LE00.IN  38.211000
..                                       ...             ...        ...
261  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  61.485000
262  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  33.678000
263  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  52.669000
264  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  49.042000
265  Life expectancy at birth, total (years)  SP.DYN.LE00.IN  53.235000

          1961       1962       1963       1964       1965  ...       2013
0    64.537000  64.752000  65.132000  65.294000  65.502000  ...  75.636000  \
1    44.386697  44.752182  44.913159  45.479043  45.498338  ...  60.709863
2    33.068000  33.547000  34.016000  34.494000  34.953000  ...  62.417000
3    38.164950  38.735102  39.063715  39.335360  39.618038  ...  55.673406
4    37.267000  37.539000  37.824000  38.131000  38.495000  ...  59.307000
..         ...        ...        ...        ...        ...  ...        ...
261  61.836000  62.134000  62.440000  62.734000  63.041000  ...  78.587000
262  34.098000  33.615000  33.247000  34.738000  35.373000  ...  67.545000
263  53.085000  53.376000  53.633000  53.906000  54.192000  ...  62.533000
264  49.452000  49.794000  50.133000  49.849000  50.563000  ...  59.878000
265  53.619000  54.071000  54.549000  54.994000  55.459000  ...  57.458000

          2014       2015       2016       2017       2018       2019
0    75.601000  75.683000  75.617000  75.903000  76.072000  76.248000  \
1    61.337911  61.856452  62.444045  62.922385  63.365858  63.755674
2    62.545000  62.659000  63.136000  63.016000  63.081000  63.565000
3    55.922229  56.195872  56.581678  56.888446  57.189139  57.555796
4    60.040000  60.655000  61.092000  61.680000  62.144000  62.448000
..         ...        ...        ...        ...        ...        ...
261  78.880000  78.922000  78.981000  78.783000  78.696000  79.022000
262  67.384000  65.873000  66.064000  65.957000  64.575000  65.092000
263  63.380000  63.950000  64.747000  65.402000  65.674000  66.175000
264  60.699000  61.208000  61.794000  62.120000  62.342000  62.793000
265  58.846000  59.591000  60.306000  60.709000  61.414000  61.292000

          2020       2021  2022
0    75.723000  74.626000   NaN
1    63.313856  62.454585   NaN
2    62.575000  61.982000   NaN
3    57.226373  56.988657   NaN
4    62.261000  61.643000   NaN
..         ...        ...   ...
261  76.567000  76.806000   NaN
262  64.650000  63.753000   NaN
263  65.252000  62.341000   NaN
264  62.380000  61.223000   NaN
265  61.124000  59.253000   NaN

[266 rows x 67 columns],                     Country Name Country Code
0                          Aruba          ABW  \
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                        Indicator Name  Indicator Code  1960
0    Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN  \
1    Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
2    Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
3    Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
4    Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
..                                                 ...             ...   ...
261  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
262  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
263  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
264  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN
265  Literacy rate, adult total (% of people ages 1...  SE.ADT.LITR.ZS   NaN

     1961  1962  1963  1964  1965  ...       2013       2014       2015
0     NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN  \
1     NaN   NaN   NaN   NaN   NaN  ...  68.445107  68.827972  69.282494
2     NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
3     NaN   NaN   NaN   NaN   NaN  ...  53.144989  54.186619  54.979179
4     NaN   NaN   NaN   NaN   NaN  ...        NaN  66.030113        NaN
..    ...   ...   ...   ...   ...  ...        ...        ...        ...
261   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
262   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
263   NaN   NaN   NaN   NaN   NaN  ...        NaN  94.139900  94.367920
264   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
265   NaN   NaN   NaN   NaN   NaN  ...        NaN  88.693420        NaN

          2016       2017       2018       2019       2020       2021  2022
0          NaN        NaN  97.807419        NaN  97.989998        NaN   NaN
1    70.059601  69.999451  70.420250  71.574051  71.889908        NaN   NaN
2          NaN        NaN        NaN        NaN        NaN  37.266041   NaN
3    55.564968  56.604252  59.619270  60.178661  60.234989        NaN   NaN
4          NaN        NaN        NaN        NaN        NaN  72.279999   NaN
..         ...        ...        ...        ...        ...        ...   ...
261        NaN        NaN        NaN        NaN        NaN        NaN   NaN
262        NaN        NaN        NaN        NaN        NaN        NaN   NaN
263        NaN  87.046669        NaN  95.022972        NaN        NaN   NaN
264        NaN        NaN  86.747963        NaN  87.500000        NaN   NaN
265        NaN        NaN        NaN        NaN        NaN  89.699997   NaN

[266 rows x 67 columns]]

In [158]:
#Separate table for regions

gdp_per_capita_df = df_list[0]

regions_gdp_df = gdp_per_capita_df.loc[gdp_per_capita_df['Country Name'].isin(["Africa Eastern and Southern",\
                                    "Africa Western and Central",\
                                    "Arab World",\
                                    "Central Europe and the Baltics",\
                                    "Caribbean small states",\
                                    "East Asia & Pacific (excluding high income)",\
                                    "East Asia & Pacific",\
                                    "Europe & Central Asia (excluding high income)",\
                                    "Europe & Central Asia",\
                                    "European Union",\
                                    "Latin America & Caribbean (excluding high income)",\
                                    "Latin America & Caribbean",\
                                    "Middle East & North Africa",\
                                    "Middle East & North Africa (excluding high income)",\
                                    "North America",\
                                    "Sub-Saharan Africa (excluding high income)",\
                                    "Sub-Saharan Africa"])]

regions_gdp_df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Africa Eastern and Southern,AFE,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3333.520911,3470.550675,3498.125396,3591.099809,3635.564622,3724.868177,3777.972368,3621.058106,3839.470058,NaN
3,Africa Western and Central,AFW,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3950.948889,4143.177054,4075.994459,3998.951876,4045.303263,4160.540965,4264.731035,4174.504565,4409.450961,NaN
7,Arab World,ARB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,15786.576081,15565.992148,14055.953265,13594.676481,14052.546913,14463.364253,14634.455952,13914.583485,14793.881313,NaN
36,Central Europe and the Baltics,CEB,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,23855.330206,24922.477098,26130.663011,27749.202828,29826.242741,32000.758785,34934.337770,34762.171670,37579.797677,NaN
49,Caribbean small states,CSS,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,15713.674950,15957.916650,15725.925036,15493.716922,16175.340527,16645.404967,17049.114651,15873.377116,17323.612263,NaN
61,East Asia & Pacific (excluding high income),EAP,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,10950.630309,11456.177796,11777.311276,12296.336850,12968.759836,14037.282432,15016.853092,15249.283357,16894.577910,NaN
63,East Asia & Pacific,EAS,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,14181.422297,14693.707141,15108.820636,15609.099672,16329.778648,17427.707753,18369.746587,18556.297577,20249.846275,NaN
64,Europe & Central Asia (excluding high income),ECA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,19308.593950,19647.580898,19179.959648,19571.836934,20765.977178,22196.511520,22957.574179,22782.038573,24980.915628,NaN
65,Europe & Central Asia,ECS,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,29768.265858,30492.039740,30917.154800,32333.812903,34019.225350,35736.608243,37586.540891,36383.769663,39231.636464,NaN
73,European Union,EUU,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,36062.688825,37060.689462,38218.564076,40548.841830,42657.741552,44651.979990,47487.022881,45725.190496,48779.382436,NaN
128,Latin America & Caribbean (excluding high income),LAC,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,14464.544881,14772.549669,14544.652617,14762.029286,15363.220341,15791.639495,15972.723496,14974.880559,16343.137420,NaN
134,Latin America & Caribbean,LCN,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,14941.969258,15264.405018,15057.249209,15315.713933,15950.885883,16430.755736,16653.727501,15627.273643,17116.312307,NaN
153,Middle East & North Africa,MEA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,17764.459548,17480.627729,15778.260740,15543.487862,16126.450663,16521.006091,16668.637335,16121.919497,17276.691596,NaN
161,Middle East & North Africa (excluding high inc...,MNA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,11144.027233,10855.834903,10206.568339,10270.847334,10561.917306,10811.868445,10930.912112,10660.803098,11444.003188,NaN
170,North America,NAC,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,52395.747695,54188.067278,55554.459207,56724.763131,58746.957615,61504.087877,63525.264601,61394.238956,67578.387672,NaN
215,Sub-Saharan Africa (excluding high income),SSA,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3581.922669,3741.119909,3730.130815,3753.683824,3798.869879,3898.608303,3972.363208,3842.783834,4067.575768,NaN
217,Sub-Saharan Africa,SSF,"GDP per capita, PPP (current international $)",NY.GDP.PCAP.PP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3583.691292,3743.068513,3732.075948,3755.791924,3801.060885,3900.869856,3974.682146,3844.879529,4069.889126,NaN

In [159]:
#Regions gdp 2021

regions_gdp_2021_df = regions_gdp_df[['Country Name', 'Country Code', '2021']]
regions_gdp_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'GDP'}, inplace = True)
regions_gdp_2021_df

/var/folders/bz/68gt7jy17hggm4d18zl733y80000gn/T/ipykernel_32409/3861109836.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  regions_gdp_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'GDP'}, inplace = True)

,Region,Region Code,GDP
1,Africa Eastern and Southern,AFE,3839.470058
3,Africa Western and Central,AFW,4409.450961
7,Arab World,ARB,14793.881313
36,Central Europe and the Baltics,CEB,37579.797677
49,Caribbean small states,CSS,17323.612263
61,East Asia & Pacific (excluding high income),EAP,16894.577910
63,East Asia & Pacific,EAS,20249.846275
64,Europe & Central Asia (excluding high income),ECA,24980.915628
65,Europe & Central Asia,ECS,39231.636464
73,European Union,EUU,48779.382436
128,Latin America & Caribbean (excluding high income),LAC,16343.137420
134,Latin America & Caribbean,LCN,17116.312307
153,Middle East & North Africa,MEA,17276.691596
161,Middle East & North Africa (excluding high inc...,MNA,11444.003188
170,North America,NAC,67578.387672
215,Sub-Saharan Africa (excluding high income),SSA,4067.575768
217,Sub-Saharan Africa,SSF,4069.889126

In [160]:
#Same with life expectancy table
life_expectancy_df = df_list[1]
life_expectancy_2021_df = life_expectancy_df[['Country Name', 'Country Code', '2021']]
life_expectancy_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'Life_expectancy'}, inplace = True)
life_expectancy_2021_df

/var/folders/bz/68gt7jy17hggm4d18zl733y80000gn/T/ipykernel_32409/411588204.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  life_expectancy_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'Life_expectancy'}, inplace = True)

                          Region Region Code  Life_expectancy
0                          Aruba         ABW        74.626000
1    Africa Eastern and Southern         AFE        62.454585
2                    Afghanistan         AFG        61.982000
3     Africa Western and Central         AFW        56.988657
4                         Angola         AGO        61.643000
..                           ...         ...              ...
261                       Kosovo         XKX        76.806000
262                  Yemen, Rep.         YEM        63.753000
263                 South Africa         ZAF        62.341000
264                       Zambia         ZMB        61.223000
265                     Zimbabwe         ZWE        59.253000

[266 rows x 3 columns]

In [161]:
#And literacy table
literacy_df = df_list[2]
literacy_2021_df = literacy_df[['Country Name', 'Country Code', '2021']]
literacy_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'Literacy'}, inplace = True)
literacy_2021_df

/var/folders/bz/68gt7jy17hggm4d18zl733y80000gn/T/ipykernel_32409/279392058.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  literacy_2021_df.rename(columns = {'Country Name' : 'Region', 'Country Code' : 'Region Code', '2021':'Literacy'}, inplace = True)

                          Region Region Code   Literacy
0                          Aruba         ABW        NaN
1    Africa Eastern and Southern         AFE        NaN
2                    Afghanistan         AFG  37.266041
3     Africa Western and Central         AFW        NaN
4                         Angola         AGO  72.279999
..                           ...         ...        ...
261                       Kosovo         XKX        NaN
262                  Yemen, Rep.         YEM        NaN
263                 South Africa         ZAF        NaN
264                       Zambia         ZMB        NaN
265                     Zimbabwe         ZWE  89.699997

[266 rows x 3 columns]

In [162]:
#Join gdp and life expectancy 2021 tables

gdp_lifeexpectancy_literacy_df = pd.concat([regions_gdp_2021_df, life_expectancy_2021_df], axis=1, join="inner")
gdp_lifeexpectancy_literacy_df2 = gdp_lifeexpectancy_literacy_df.loc[:, ~gdp_lifeexpectancy_literacy_df.columns.duplicated()]
gdp_lifeexpectancy_literacy_df2

,Region,Region Code,GDP,Life_expectancy
1,Africa Eastern and Southern,AFE,3839.470058,62.454585
3,Africa Western and Central,AFW,4409.450961,56.988657
7,Arab World,ARB,14793.881313,70.814483
36,Central Europe and the Baltics,CEB,37579.797677,74.932414
49,Caribbean small states,CSS,17323.612263,70.996259
61,East Asia & Pacific (excluding high income),EAP,16894.577910,75.543291
63,East Asia & Pacific,EAS,20249.846275,76.393934
64,Europe & Central Asia (excluding high income),ECA,24980.915628,71.433174
65,Europe & Central Asia,ECS,39231.636464,76.631526
73,European Union,EUU,48779.382436,80.387131
128,Latin America & Caribbean (excluding high income),LAC,16343.137420,71.898902
134,Latin America & Caribbean,LCN,17116.312307,72.147446
153,Middle East & North Africa,MEA,17276.691596,72.745907
161,Middle East & North Africa (excluding high inc...,MNA,11444.003188,71.899876
170,North America,NAC,67578.387672,76.977263
215,Sub-Saharan Africa (excluding high income),SSA,4067.575768,60.240635
217,Sub-Saharan Africa,SSF,4069.889126,60.241740